@use "./styles/variables" as *;
@use "./styles/reset" as *;

body {
    font-family: 'Fjalla One', sans-serif, Arial;
    background-color: $dark-grey;
    color: $white;
}

.reaction-test {
    padding: 5%;
    height: 70vh;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows:  1.5fr 1fr 4fr 1.5fr 3fr;
    gap: 5%;

    grid-template-areas:
        "rt-header"
        "rt-text"
        "rt-lights"
        "rt-button"
        "rt-lb";

    .reaction-test__header {grid-area: rt-header;}
    .reaction-test__text { grid-area: rt-text; }
    .reaction-test__lights { grid-area: rt-lights; }
    .reaction-test__button  { grid-area: rt-button; }
    .reaction-test__leader-board { grid-area: rt-lb; }

    &__header {
        font-size: 2rem;
    }

    &__text {
        font-size: 1rem;
    }

    &__lights {
        width: 100%;
        height: 100%;
        margin:auto;
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $grey;
        border-radius: 20px;
        
        p {

        }
    }

    &__button {
        width: 100%;
        height: 100%;

        font-size: 1.5rem;
        text-align: center;
        color: $white;
        background-color: $green;
        border-radius: 10px;
    }

    &__leader-board {
        width: 100%;
        height: 100%;

        overflow-y: scroll;
        color: $white;
        background-color: $mid-grey;
        border-radius: 15px;
        
        ol {
            margin-left: 5%;
            padding: 5%;
            font-size: 1rem;
            text-align: left;

            li {
                

            }
        }
    }

}